img.eiffel{
    height: 400px;
    transition: 1s;
}
img.eiffel:hover{
    transform: scale(1.2);
}

img.eiffel2{
    width: 100px;
    float: left;
    margin: 10px 20px 10px 0;
}
div{
    width: 400px;
    border: 1px solid red;
    background-color: tomato;
    overflow: hidden;
    text-align: center;
}
h2{
    position: relative;
    bottom: 425px;
}