/* ne pas oublier de reset le début de chaque page css */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none; 
}
body{
    color: white;
}
#conteneur{
    width: 80%;
    border: 2px solid grey;
    margin: 0 auto;
}
#header{
    background: #A4409A;
    height: 80px;

}
#menu{
    height: 30px;
    background: gold;
}
#contenu{
    height: 500px;
    background-color: lightgray;
    display: flex;

}
#contenu span{
    color: grey;
    text-transform: uppercase;
    font-size: 50px;
}
#principal, #end{
        background: red;
        width: 75%;
        display: flex;
        justify-content: center;

}   
#colonne{
    background: blue;
    width: 25%;
    float: left;
    border: 1px solid black;
}
#footer{
    height: 50px;
    background-color: #E80B28;
}
