/* ne pas oublier de reset le début de chaque page css */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none; 
}
.all{
    color: grey;
    width: 80%;
    border: 2px solid grey;
    margin: 0 auto;
}
#header{
    background-color: gold;
    height: 80px;
    text-align: center;
}
#menu{
    background-color: lightblue;
    height: 40px;
    text-align: center;
}
#contenu{
    
    height: 600px;
    text-align: center;
    font-size: 50px;
}

.one{
    background-color: red;
    height: 200px;   
}
.two{
    background-color: green;
    height: 400px;
}
#footer{
    background-color: gold;
    height: 40px;
    text-align: center;
}